.skill
  width 100%
  padding 40px
  background-color white
  border-radius 8px
  box-sizing border-box

  @media (max-width: 768px)
    padding 0 20px

.title
  font-size 24px
  font-weight 600
  margin-bottom 20px
  line-height 1.6

  &--sub
    font-size 16px
    margin -20px 0 10px

.description
  font-size 16px
  line-height 1.8
  letter-spacing 0.04em
  margin-bottom 60px

.image
  display block
  width calc(100% - 40px)
  margin 20px
  border-radius 8px

  @media (max-width: 768px)
    width 100%
    margin 20px 0

  &--w80
    width 80%
    margin 20px auto
  
    @media (max-width: 768px)
      width 100%
      margin 20px 0

.top-btn
  display block
  margin-top 20px
  padding 12px 48px
  width fit-content
  border-radius 4px
  font-size 14px
  font-weight 700
  color white
  background-color #3AB5A9
  transition all 0.2s

  &:hover
    opacity 0.64