.mt-80
  margin-top 80px

.mb-30
  display inline-block
  margin-bottom 30px

.font-13
  font-size 13px

.c-title
  font-size 24px
  font-weight 600
  margin-bottom 40px

.c-description
  color #45494B
  margin-top 10px

.c-entries li
  position relative
  margin-bottom 30px

.c-entry-title
  z-index 2
  position relative

  & > span
    display inline-block
    padding-right 20px
    font-size 20px
    font-weight 600

    & > a
      color #45494B

.c-time
  position absolute
  top 20px
  right 20px
  text-align right

.c-page-title
  margin 224px 80px 0
  font-size 88px
  font-weight bold
  line-height 1.0

  @media (max-width: 768px)
    font-size 40px
    margin 164px 20px 0 20px

  @media (min-width: 1200px)
    margin 224px auto 0
    width 960px
