.mt-60
  margin-top: 60px;

.mb-25
  display: inline-block;

.mb-25:not(:last-child)
  margin-bottom: 25px;

.font-13
  font-size: 13px;

.radius-8
  border-radius: 8px;

.c-title
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;

.c-description
  color: #9DA0A4;
  margin-top: 10px;

.c-entries li
  position: relative;
  margin-bottom: 30px;

.c-entry-title
  z-index 2
  position relative
  padding-right 180px

  & > span
    display inline-block
    padding-right 20px
    font-size 20px
    font-weight 500
    background-color white

    & > a
      color #45494B

.c-line
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  color: #9DA0A4;
  text-align: right;
  background-repeat: repeat-x;
  background-position: left center;

  & > span
    padding-left 14px
    background-color white

.contents
  width 640px
  padding-top 60px
  margin 0 auto